; ==============================================================================
; This file helps to enforce a consistent coding style across different editors.
; https://editorconfig.org/
; ==============================================================================

root = true                           # This is the project's root directory.

[*]                                   # Defaults:
charset = utf-8                       # - Files are UTF-8 encoded.
end_of_line = lf                      # - Files use Unix line endings.
indent_style = space                  # - Use spaces for indentation.
indent_size = 2                       # - Each indent should contain two spaces.
insert_final_newline = true           # - For VCS, end files with an empty line.
max_line_length = 120                 # - Lines should not exceed this length.
trim_trailing_whitespace = true       # - No whitespace on the end of lines.
